[run]
source =
    python_app
    oci_wif
    vm_deploy
    oci_bootstrap_token
    oci_infra_bootstrap
    mask_configuration
    oci_application_infra
    oci_app_deploy
    check_mp4_prefixes

[report]
fail_under = 91
show_missing = True
precision = 2
