{% extends "base.html" %}

{% block content %}
<div class="columns is-multiline">

    <div class="column is-4">
        <h3 class="title">Remote Device Authentication</h3>
        <div class="box">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
            <form method="POST" action="/authenticate">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="username" name="username" placeholder="Your Username" autofocus="">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="password" name="password" placeholder="Your Password">
                    </div>
                </div>

                <input type="hidden" id="session_id" name="session_id" value="{{session_id}}">

                <button class="button is-block is-info is-large is-fullwidth">Login</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}